* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(45deg, #000, #222);
  height: 100vh;
}
.main {
  width: 350px;
  border: 2px solid goldenrod;
  margin: 2rem auto;
  background: rgb(69, 117, 130);
}

h1 {
  color: #000;
  font-weight: 600;
}

input {
  width: 100%;
}

ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  border: 2px solid goldenrod;
  color: blanchedalmond;
  background: #111;
  width: 100%;
  font-weight: 600;
}

span {
  font-weight: 500;
  color: goldenrod;
}
